.MainAn {
    -fx-background-image: url("image1.png");
}
#UpdateProgress{
-fx-accent: grey;
}
.MainPane{
-fx-background-color:black;
}
.CSGOTF{
-fx-font-family: 'Agency FB';
-fx-font-style: normal;
-fx-font-weight: 600;
-fx-font-size: 36px;
-fx-line-height: 84px;
-fx-text-align: center;
}
.ReadMeText{
-fx-text-fill:black;
-fx-background-color:grey;
}
.button2{
    -fx-background-color:#F2F3F5;
    -fx-text-fill:black;
}
.button2:hover{
        -fx-background-color:#FFFAFA ;
        -fx-text-fill: black;
}
.button1
{
    -fx-background-color:grey;

}
.button1:hover{
    -fx-background-color:white;
    -fx-text-fill: black;
}
.scene2{
    -fx-background-color:black ;
}
.table-row-cell: odd{
    -fx-background-color: #B0B0B0;
}
.table-view{
    -fx-background-color:#D3D3D3;
    -fx-text-fill:black ;
}
.table-row-cell: even{
    -fx-background-color: #888888;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill:white ;
    }
.table-view .column-header-background{
    -fx-background-color: #505050;
}

.scroll-bar:horizontal .increment-arrow ,
.scroll-bar:horizontal .decrement-arrow {
   -fx-shape : " ";
   -fx-padding :0.30em 0.0;

}
.scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.30em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive( #A0A0A0 ,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color :derive(#A0A0A0 ,10.0%);
     -fx-background-insets : 2.0, 0.0, 0.0;
     -fx-background-radius : 2.0em;
}
.table-view .scroll-bar:horizontal{
   -fx-background-color:#505050 ;

}
.table-view .scroll-bar:vertical{
    -fx-background-color:#505050 ;

 }
.table-view .corner{
   -fx-background-color:#505050 ;
   }
.table-cell{
-fx-text-fill:white;
}
.table-row-cell{
-fx-border-color: #484848 ;
-fx-table-cell-border-color:#484848 ;
}
.placeholder .label{
-fx-text-fill:#c7d5e0;
}
.TextUnderWindow{
-fx-font-family:Agency FB;
-fx-alignment:center;
-fx-text-fill:black;
}
.scene3{
    -fx-background-color:#D3D3D3;
}
.PopUpPane{
-fx-background-color:grey;
}



